body {
  background-image: url('https://f.i.uol.com.br/fotografia/2021/08/30/1630342579612d0db3bd643_1630342579_3x2_rt.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

input {
  border-radius: 5px;
  font-size: larger;
  height: 100px;
  text-align: center;
  width: 400px;
}

.nome {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
}

.email {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.loginBotões {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.informaçao {
  color: papayawhip;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.respostas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}

button {
  background-color: rgb(77, 206, 255);
  border-radius: 50px;
  font-size: larger;
  height: 50px;
  width: 400px;
}

.playAgain {
  bottom: 10px;
  display: flex;
  justify-content: right;
  position: fixed;
  right: 1px;
}

.nextQuestion {
  align-items: center;
  bottom: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
}

.perguntas {
  align-items: baseline;
  color: yellow;
  font-size: 27px;
}

.pontos {
  font-size: 140px;
  position: absolute;
  right: 20px;
  top: -150px;
}

.foto {
  left: 15px;
  padding-bottom: 10px;
  position: fixed;
}

.jogador {
  font-size: 40px;
}

.contador {
  color: red;
  font-size: 40px;
  padding-top: 20px;
}

.rank {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.final {
  color: whitesmoke;
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.ranking {
  color: yellow;
  font-size: 25px;
}
